/* Write your CSS here */
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #2b2c49, #303150);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  height: 40vh;
}

.heading {
  color: #ffffff;
}

.button {
  color: #0f172a;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

@media (min-width: 768px) {
  .card {
    width: 600px;
  }
}
